<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.MeberMapper" >
<!--会员列表分页查询-->
    <select id="findMemberCount" parameterType="map" resultType="int">
      SELECT
	     count(1)
      FROM
	     USER tu
      LEFT JOIN t_member tm ON tu.userid = tm.memberuserid
    </select>

    <select id="findMemberList" resultType="com.jk.model.Member">
      SELECT
            tm.id,
            tm.memberaihao,
            tm.memberarea,
            tm.memberdetail,
            tm.memberemail,
            tm.memberolds,
            tm.membertime,
            tm.memberuserid,
            tm.memberzhengjian,
            tm.membersex,
            tu.dengji AS dengjis,
            tu.jifen AS jifens,
            tu.password AS passwords,
            tu.status AS statuss,
            tu.userid AS userids,
            tu.username AS usernames,
            tu.userphone AS userphones
      FROM
        t_member tm
      LEFT JOIN USER tu ON tm.memberuserid = tu.userid
        limit #{page},#{rows}
    </select>
<!--批量删除-->
    <delete id="deleteMemberAll" parameterType="int" >
        delete from t_member where id in(
        <foreach collection="array" item="itme" index="index" separator="," >
            #{itme}
        </foreach>
        )
    </delete>
<!--删除-->
    <delete id="deleteMember" parameterType="int">
        delete from t_member where id in
        <foreach collection="array" index="index" item="item" open="("
                 close=")" separator=",">
            #{item}
        </foreach>
    </delete>
<!--新增会员信息-->
    <insert id="saveMember" parameterType="com.jk.model.Member">
        insert into t_member(memberaihao,memberarea,memberdetail,memberemail,memberolds,membertime,memberzhengjian)
        values(#{memberaihao},#{memberarea},#{memberdetail},#{memberemail},#{memberolds},#{membertime},#{memberzhengjian})
    </insert>
<!--修改会员信息-->
    <update id="updateMeber" parameterType="com.jk.model.Member">
        update t_member t set t.memberaihao=#{memberaihao},t.memberarea=#{memberarea},t.memberdetail=#{memberdetail},t.memberemail=#{memberemail},
        t.memberolds=#{memberolds},t.membertime=#{membertime},t.memberzhengjian=#{memberzhengjian}
        where t.id=#{id}
    </update>
<!--回显会员信息-->
    <select id="queryFindMemberById" resultType="com.jk.model.Member" parameterType="int">
        select * from t_member t where t.id = #{value}
    </select>
<!--前台列表查询-->
    <select id="queryMemberList" resultType="com.jk.model.Member">
         SELECT
                tm.id,
                tm.memberaihao,
                tm.memberarea,
                tm.memberdetail,
                tm.memberemail,
                tm.memberolds,
                tm.membertime,
                tm.memberuserid,
                tm.memberzhengjian,
                tm.membersex,
                tu.dengji AS dengjis,
                tu.jifen AS jifens,
                tu.password AS passwords,
                tu.status AS statuss,
                tu.userid AS userids,
                tu.username AS usernames,
                tu.userphone AS userphones
        FROM
            t_member tm
        LEFT JOIN USER tu ON tm.memberuserid = tu.userid
    </select>
<!--前台会员信息修改-->
    <update id="updateMemberUser" parameterType="com.jk.model.Member">
          UPDATE t_member tm
                INNER JOIN USER tu ON tm.memberuserid = tu.userid
                SET
                tu.userphone = #{userphones},
                tm.memberdetail = #{memberdetail},
                tm.memberolds = #{memberolds},
                tm.memberzhengjian = #{memberzhengjian},
                tm.memberemail = #{memberemail}
            WHERE
	        tm.id = #{id}
    </update>
<!--前台个人信息列表展示-->
<select id="queryMemberUserList" resultType="com.jk.model.Member">
       SELECT
                tm.id,
                tm.memberaihao,
                tm.memberarea,
                tm.memberdetail,
                tm.memberemail,
                tm.memberolds,
                tm.membertime,
                tm.memberuserid,
                tm.memberzhengjian,
                tm.membersex,
                tu.dengji AS dengjis,
                tu.jifen AS jifens,
                tu.password AS passwords,
                tu.status AS statuss,
                tu.userid AS userids,
                tu.username AS usernames,
                tu.userphone AS userphones
        FROM
            t_member tm
        LEFT JOIN USER tu ON tm.memberuserid = tu.userid
</select>
<!--前台会员密码修改-->
    <update id="updatePassword" parameterType="com.jk.model.Member">
          UPDATE t_member tm
                INNER JOIN USER tu ON tm.memberuserid = tu.userid
                SET
                tu.password = #{passwords}
            WHERE
	        tm.id = #{id}
    </update>
<!--前台密码修改返回页面-->
<select id="queryUpdateMemberList" resultType="com.jk.model.Member">
       SELECT
                tm.id,
                tm.memberaihao,
                tm.memberarea,
                tm.memberdetail,
                tm.memberemail,
                tm.memberolds,
                tm.membertime,
                tm.memberuserid,
                tm.memberzhengjian,
                tm.membersex,
                tu.dengji AS dengjis,
                tu.jifen AS jifens,
                tu.password AS passwords,
                tu.status AS statuss,
                tu.userid AS userids,
                tu.username AS usernames,
                tu.userphone AS userphones
        FROM
            t_member tm
        LEFT JOIN USER tu ON tm.memberuserid = tu.userid
</select>
<!--收货地址列表查询-->
<select id="queryTakeAreaList" resultType="com.jk.model.Take">
  SELECT
	ta.id,
	ta.takearea,
	ta.takebeizhu,
	ta.takename,
	ta.takephone,
	ta.takeyoubian
  FROM
	t_take ta
</select>
<!--前台添加收货地址-->
<insert id="saveShuoHuoArea" parameterType="com.jk.model.Take">
    insert into t_take(takename,takearea,takeyoubian,takephone,takebeizhu) values (#{takename},#{takearea},#{takeyoubian},#{takephone},#{takebeizhu})
</insert>
<!--前台修改收货地址-->
<update id="updateShuoHouArea" parameterType="com.jk.model.Take">
    update t_take ta set  ta.takename=#{takename},ta.takearea=#{takearea},ta.takeyoubian=#{takeyoubian},ta.takephone=#{takephone},ta.takebeizhu=#{takebeizhu} where id = #{id}
</update>

</mapper>