<!DOCTYPE html >

<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<head>
    <base href="<%=basePath%>">
    <title>标题</title>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="This is my page">

    <script type="text/javascript" src="../js/jquery.js/jquery.min.js"></script>

    <script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
    <!-- 引入bootstrap的css -->
    <link  href="../js/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-treeview的css -->
    <link  href="../js/treeview/bootstrap-treeview.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-addTabs的css -->
    <link  href="../js/addTabs/addTabs.css" rel="stylesheet" >
    <!-- 引入bootstrap-table的css -->
    <link  href="../js/table/bootstrap-table.min.css" rel="stylesheet" >
    <!-- 引入fileinput的css -->
    <link type="text/css" rel="stylesheet" href="../js/fileinput/css/fileinput.min.css" />

    <!-- 引入my97 -->
    <script type="text/javascript" src="../js/my97/WdatePicker.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/bootstrap/js/bootstrap.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/treeview/bootstrap-treeview.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/addTabs/addTabs.js"></script>
    <!-- 引入bootstrap-table的js-->
    <script type="text/javascript" src="../js/table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../js/table/locale/bootstrap-table-zh-CN.min.js"></script>
    <!-- 引入bootbox.js -->
    <script type="text/javascript" src="../js/bootbox/bootbox.js"></script>
    <!-- 引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/fileinput.min.js"></script>
    <!--  引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/locales/zh.js"></script>

    <script type="text/javascript" src="../js/fileinput/themes/fa/theme.js"></script>
    <script src="../js/highcharts/code/highcharts.js"></script>

    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css" />
    <link href="../css/codemirror.css" rel="stylesheet">
    <link rel="stylesheet" href="../font/css/font-awesome.min.css" />
    <script src="../assets/js/ace-extra.min.js"></script>
    <script src="../assets/dist/echarts.js"></script>

</head>
<body>
<div class=" page-content clearfix">
 <div class="transaction_style">
   <ul class="state-overview clearfix">
    <li class="Info" >
     <span class="symbol red"><i class="fa fa-jpy"></i></span>
        <span class="value" th:value="${myOrder.sumprice}" th:text="'交易金额为：      '+${myOrder.sumprice}"  id="fdffdf"><h4></h4><p></p> </span>
    </li>
     <li class="Info">
     <span class="symbol  blue"><i class="fa fa-shopping-cart"></i></span>
     <span class="value" th:value="${myOrder.sumcount}" th:text="'订单数量为：      '+${myOrder.sumcount}"><h4>订单数量</h4><p class="Quantity color_red"></p></span>
    </li>

   </ul>
 
 </div>

</div>
<div id="container" style="min-width:400px;height:400px"></div>

</body>
</html>
<script type="text/javascript">

   //面积图
    $(function () {
        var chart = null;
        $.ajax({
            url:"../lb/querytu2",
            dataType:"json",
            success:function (data) {
                Highcharts.chart('container', {
                    chart: {
                        type: 'area'
                    },
                    title: {
                        text: '2019月财务收入概念图'
                    },
                    subtitle: {
                        text: '数据来源: <a href="https://thebulletin.metapress.com/content/c4120650912x74k7/fulltext.pdf">' +
                            'thebulletin.metapress.com</a>'
                    },
                    xAxis: {
                        categories: data.week,
                        crosshair: true
                        /* allowDecimals: false,
                          labels: {
                              formatter: function () {
                                  return this.value; // clean, unformatted number for year
                              }
                          }*/
                    },
                    yAxis: {
                        title: {
                            text: '收入概况'
                        },
                        labels: {
                            formatter: function () {
                                return this.value + 'rmb';
                            }
                        }
                    },
                    tooltip: {
                        pointFormat: '售出 <b>{point.y:,.0f}</b>元人民币'
                    },
                    plotOptions: {
                        area: {
                            fillOpacity: 0.3, // 指定所有面积图的透明度

                            marker: {
                                enabled: false,
                                symbol: 'circle',
                                radius: 2,
                                states: {
                                    hover: {
                                        enabled: true
                                    }
                                }
                            }
                        }
                    },
                    series: [{
                        name: '发货前退款',
                        data: data.price,
                    }, {
                        name: '其他',
                        color: 'green',
                        fillColor: {       // 设置渐变的填充颜色
                            linearGradient: {
                                x1: 0,
                                y1: 0,
                                x2: 0,
                                y2: 1
                            },
                            stops: [
                                [0, Highcharts.getOptions().colors[5]],
                                [1, Highcharts.Color(Highcharts.getOptions().colors[6]).setOpacity(0).get('rgba')]
                            ]
                        },
                        data:data.price,
                    }]
                })


            },

        })




// 动态更新透明度
        $('input').change(function(){
            var val = $(this).val();
            $('.opacity').html(val);
            chart.series[0].update({
                fillOpacity: val
            });
        });
    });

    </script> 