<!DOCTYPE html>
<html lang="en">


<head>
    <base href="<%=basePath%>">
    <title>标题</title>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="This is my page">

    <script type="text/javascript" src="../js/jquery.js/jquery.min.js"></script>

    <script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
    <!-- 引入bootstrap的css -->
    <link  href="../js/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-treeview的css -->
    <link  href="../js/treeview/bootstrap-treeview.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-addTabs的css -->
    <link  href="../js/addTabs/addTabs.css" rel="stylesheet" >
    <!-- 引入bootstrap-table的css -->
    <link  href="../js/table/bootstrap-table.min.css" rel="stylesheet" >
    <!-- 引入fileinput的css -->
    <link type="text/css" rel="stylesheet" href="../js/fileinput/css/fileinput.min.css" />

    <!-- 引入my97 -->
    <script type="text/javascript" src="../js/my97/WdatePicker.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/bootstrap/js/bootstrap.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/treeview/bootstrap-treeview.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/addTabs/addTabs.js"></script>
    <!-- 引入bootstrap-table的js-->
    <script type="text/javascript" src="../js/table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../js/table/locale/bootstrap-table-zh-CN.min.js"></script>
    <!-- 引入bootbox.js -->
    <script type="text/javascript" src="../js/bootbox/bootbox.js"></script>
    <!-- 引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/fileinput.min.js"></script>
    <!--  引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/locales/zh.js"></script>

    <script type="text/javascript" src="../js/fileinput/themes/fa/theme.js"></script>
    <script src="../js/highcharts/code/highcharts.js"></script>

</head>

<!--  表格 -->
<body>
<div id="toolbar">
</div>
<div>

    <center><!--
        <input type="button" value="导出2019出售数量表" onclick="exportExcel2019()" style="background-color: #00C1B3">--->

        <table>
            <tr>
               <td>
                    <table id="AnaTodayTable">
                        <center><font color="green" size="6px">图书分析2019年数据概览</font>
                        </center>
           <button onclick="dj()"  class="btn" style="background:#E8E8D0"><b>点击事件</b></button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
         <button onclick="exportExcelGaikuangThree()" type="button" class="btn" style="background:#E8E8D0"><b>Excle导出2019数据概况</b></button>


                    </table>

                </td>
            </tr>
        </table>
    </center>
</div>
<center>
    <div>
        <!--===============展示折线图====================-->



            <span id="da">
            <div style="background-color:#eee8aa" >
                <font size="5px"   color="#00ff00"><b>2019每月下单数量趋势图</b></font>
               <!--折线图--><div id="container" style="min-width: 1500px; height: 250px; max-width: 1250px; margin: 0 auto"></div>
            </div>
            </span>

    </div>
</center>
<center><font color="green" size="5px">图书分析最近7日数据全部概览</font></center>
<button onclick="dj1()"  class="btn" style="background:#E8E8D0"><b>我也能点哦</b></button>
<table id="bb"></table>
<span id="d2">
<div id="AnaSevenTable"  style="float:left;width:1000px;background-color:#5f9ea0">
    <!---
<input type="button" value="导出近七日出售数量表" onclick="exportExcelseven()" style="background-color: #00C1B3">
    -->
    <center><font color="green" size="5px">近七天数据展示</font></center>

    <div id="container2" style="min-width: 500px; height: 400px; max-width: 450px; margin: 0 auto"></div>
</div>

<div id="AnaThirtyTable"  style="float:left;width:880px;background-color:#5f9ea0" >
    <center><font color="green" size="5px">图书状态占比信息全部概览</font></center>

    <div id="container3" style="min-width: 500px; height: 400px; max-width: 450px; margin: 0 auto">
</div>
</div>
</span>
</body>

<script type="text/javascript">
    //第二个点击
    var kkkw = document.getElementById("d2");
    kkkw.style.display = "none";
    function  dj1(){
        if(kkkw.style.display == "none")
            kkkw.style.display = "block";
        else
            kkkw.style.display = "none";
    }
    //第一个点击
    var kkw = document.getElementById("da");
    kkw.style.display = "none";
    function  dj(){
        if(kkw.style.display == "none")
            kkw.style.display = "block";
        else
            kkw.style.display = "none";
    }






    function exportExcelGaikuangThree(){
        location.href="../lb/exportExcel2019";
    }

    function exportExcelseven(){
        location.href="../lb/exportExcelseven";
    }



    $(function(){
        initDataAnaToday();
        initDataAnaToday2();

        //initDataAnaSeven();
       // initDataAnaThirty();
        yuedan();
        binzhuangtu();
        zhuzhuang();
    });


    //所有

    //查询2019年数据
    function initDataAnaToday(){
        $('#AnaTodayTable').bootstrapTable({
            url:'../lb/querymouthxl',
            method: 'post',
            striped: true,  	// 斑马线效果     默认false
            //只允许选中一行
            singleSelect: false,
            //选中行是不选中复选框或者单选按钮
            clickToSelect: true,
            showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            uniqueId: "orderid",                 //每一行的唯一标识，一般为主键列
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,     //  最少留两列
            detailView: false,                  //是否显示父子表
            toolbar: '#tabToolBar',   //  工具定义位置
            sidePagination: 'server',
            toolbar: '#toolbar',
            pagination: true, //是否展示分页
            pageList: [1, 2, 3, 5, 8],//分页组件
            pageNumber: 1,
            pageSize: 2,//默认每页条数
            //启动回车键做搜索功能
            searchOnEnterKey: true,
            //设置为false 将禁止所有列的排序。
            sortable: true,
            //设置默认排序为 name,直接对应数据库的字段
            sortName: 'lbid',
            //定义排序方式，'asc' 或者 'desc'。
            sortOrder: "desc",
            //设置为undefined可以获取pageNumber，pageSize，searchText，sortName，sortOrder
            // 设置为limit可以获取limit, offset, search, sort, order
            queryParamsType: 'undefined',
            // 请求服务器数据
            queryParams: function queryParams(params) {
                var param = {
                    pageNumber: params.pageNumber,
                    pageSize: params.pageSize,
                    sortName: params.sortName,
                    sortOrder: params.sortOrder,

                };
                return param;
            },
            columns: [
                {field: 'checkbox', checkbox: true},  //开启复选框
                {field: 'orderid', title: 'id', width: 300},      //  列    field   代表是 后台  传过来的值
                {field: 'ordernumber', title: '排序', width: 300},
                {field: 'bookname', title: '类型', width: 300},
                {field: 'orderprice', title: '价格', width: 300},
                {field: 'orderdate', title: '上传时间', width: 300},
                {field: 'bookcount', title: '图书出售数量', width: 300},
                {field: 'orderstatus', title: '状态', width: 300,
                    formatter: function (value, row, index) {
                        if(value=="1"){return "付款失败"}
                        if(value=="2"){return "已付款"}
                        if(value=="3"){return "待发货"}
                        if(value=="4"){return "已发货"}
                        if(value=="5"){return "收货失败"}
                         if(value=="6"){return "收获成功"}
                         if(value=="31"){return "发货前退"}
                           if(value=="32"){return "发货后退款"}}
                    },
                {field: 'orderallid', title: '图书id', width: 300}
            ]
        });
    }
    //////////////////////////////////////////////////////////////////////////////////////////////
    function initDataAnaToday2(){
        $('#bb').bootstrapTable({
            url:'../lb/querymouthxl2',
            method: 'post',
            striped: true,  	// 斑马线效果     默认false
            //只允许选中一行
            singleSelect: false,
            //选中行是不选中复选框或者单选按钮
            clickToSelect: true,
            showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            uniqueId: "orderid",                 //每一行的唯一标识，一般为主键列
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,     //  最少留两列
            detailView: false,                  //是否显示父子表
            toolbar: '#tabToolBar',   //  工具定义位置
            sidePagination: 'server',
            toolbar: '#toolbar',
            pagination: true, //是否展示分页
            pageList: [1, 2, 3, 5, 8],//分页组件
            pageNumber: 1,
            pageSize: 2,//默认每页条数
            //启动回车键做搜索功能
            searchOnEnterKey: true,
            //设置为false 将禁止所有列的排序。
            sortable: true,
            //设置默认排序为 name,直接对应数据库的字段
            sortName: 'orderid',
            //定义排序方式，'asc' 或者 'desc'。
            sortOrder: "desc",
            //设置为undefined可以获取pageNumber，pageSize，searchText，sortName，sortOrder
            // 设置为limit可以获取limit, offset, search, sort, order
            queryParamsType: 'undefined',
            // 请求服务器数据
            queryParams: function queryParams(params) {
                var param = {
                    pageNumber: params.pageNumber,
                    pageSize: params.pageSize,
                    sortName: params.sortName,
                    sortOrder: params.sortOrder,

                };
                return param;
            },
            columns: [
                {field: 'checkbox', checkbox: true},  //开启复选框
                {field: 'orderid', title: 'id', width: 300},      //  列    field   代表是 后台  传过来的值
                {field: 'ordernumber', title: '排序', width: 300},
                {field: 'bookname', title: '类型', width: 300},
                {field: 'orderprice', title: '价格', width: 300},
                {field: 'orderdate', title: '上传时间', width: 300},
                {field: 'bookcount', title: '图书出售数量', width: 300},
                {field: 'orderstatus', title: '状态', width: 300,
                    formatter: function (value, row, index) {
                        if(value=="1"){return "付款失败"}
                        if(value=="2"){return "已付款"}
                        if(value=="3"){return "待发货"}
                        if(value=="4"){return "已发货"}
                        if(value=="5"){return "收货失败"}
                        if(value=="6"){return "收获成功"}
                        if(value=="31"){return "发货前退"}
                        if(value=="32"){return "发货后退款"}}
                },
                {field: 'orderallid', title: '图书id', width: 300}
            ]
        });
    }
    ///////////////////////////////////////////////////////////////////////////////////////

  //每月下单数
    function yuedan(){
        $.ajax({
            url:"../lb/yuexiadan",
            type:"post",
            dataType:"json",
            success:function (data) {
                Highcharts.chart('container', {
                    title: {
                        text: '每月下单数'
                    },
                    xAxis: {
                        categories: data.week,
                        crosshair: true
                    },
                    yAxis: {
                        title: {
                            text: '图书下单量'
                        }
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle'
                    },
                    series: [
                        {
                        name: '数量/月份',
                        data: data.count
                    }
                    ]
                });
            },error:function () {
                alert("查询失败");
            }
        })
    }
//饼状图
    function binzhuangtu(){
        $.ajax({
            url:'../lb/queryBingZhuang',
            type:'post',
            dataType:'json',
            success:function(data){
                Highcharts.chart('container2', {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,

                        type: 'pie'
                    },
                    title: {
                        text: ''
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                style: {
                                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'red'
                                }
                            }
                        }
                    },


                series: [{
                        name: 'Brands',
                        colorByPoint: true,
                        data: data,
                    }]
                });

            },
            error:function(){
                alert(".....加载数据图失败")
            }
        })

    }
//17/19柱状图
    function zhuzhuang(){
        $.ajax({
            url:"../lb/queryZhuzhuang",
            type:"post",
            dataType:"json",
            success:function(data){
                var chart = Highcharts.chart('container3', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: '图书状态占比信息柱形图'
                    },

                    xAxis: {
                        categories:['付款失败', '已付款', '待发货', '已发货', '未收货', '已收货', '发货前退款', '发货后退款'],
                        crosshair: true
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: '出售书籍状态'
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                            '<td style="padding:0"><b>{point.y}</b></td></tr>',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    },
                    plotOptions: {
                        column: {
                            borderWidth: 0
                        }
                    },
                    series: [{
                        name: '数量',
                        data: data.count
                    }]
                });
            },error:function () {
                alert("查询失败");
            }
        })
    }





</script>
</html>
