<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>17商城</title>
<link type="text/css" href="../css/css.css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/js.js"></script>
<script src="../js/wb.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
 <div class="mianCont">
  <div class="top">
   <span>您好！欢迎来到当当商城 请&nbsp;<a href="../login.html">[登录]</a>&nbsp;<a href="../reg.html">[注册]</a></span>
   <span class="topRight">
    <a href="../vip.html">我的当当</a>&nbsp;|
    <a href="../order.html">我的订单</a>&nbsp;|
    <a href="../login.html">会员中心</a>&nbsp;|
    <a href="../contact.html">联系我们</a>
   </span>
  </div><!--top/-->
  <div class="lsg">
   <h1 class="logo"><a href="../index.html"><img src="../images/logo.png" width="217" height="90" /></a></h1>
   <form action="#" method="get" class="subBox">
    <div class="subBoxDiv">
     <input type="text" class="subLeft" />
     <input type="image" src="../images/subimg.png" width="63" height="34" class="sub" />
     <div class="hotWord">
      热门搜索：
     <a href="../proinfo.html">春日序曲</a>&nbsp;
      <a href="../proinfo.html">汉声数学</a> &nbsp;
      <a href="../proinfo.html">帝国失格</a>&nbsp;
      <a href="../proinfo.html">儿童时间管理</a>  &nbsp;
     </div><!--hotWord/-->
    </div><!--subBoxDiv/-->
   </form><!--subBox/-->
   <div class="gouwuche">
    <div class="gouCar">
     <img src="../images/gouimg.png" width="19" height="20" style="position:relative;top:6px;" />&nbsp;|&nbsp;
     <strong class="red">0</strong>&nbsp;件&nbsp;|
     <strong class="red">￥ 0.00</strong> 
     <a href="../order.html">去结算</a> <img src="../images/youjian.jpg" width="5" height="8" />
    </div><!--gouCar/-->
    <div class="myChunlv">
     <a href="../vip.html"><img src="../images/mychunlv.jpg" width="112" height="34" /></a>
    </div><!--myChunlv/-->
   </div><!--gouwuche/-->
  </div><!--lsg/-->
  <div class="pnt">
   <div class="pntLeft">
    <h2 class="Title">所有商品分类
     <ul class="InPorNav">
     <li><a href="../product.html">教育</a>
      <div class="chilInPorNav">
       <a href="../11">研究生/本科/专科教材</a>
       <a href="../12">高职高专教材</a>
       <a href="../13">中职教材</a>
       <a href="../14">成人教育教材</a>
       <a href="../15">英语综合教程</a>
       <a href="../16">英语考试</a>
       <a href="../17">英语工具书</a>
       <a href="../18">小语种</a>
	   <a href="../19">口语</a>
      </div><!--chilLeftNav/-->
     </li>
     <li><a href="../product.html">小说</a>
      <div class="chilInPorNav">
       <a href="../20">中国当代小说</a>
       <a href="../21">中国近现代小说</a>
       <a href="../22">中国古典小说</a>
	   <a href="../23">四大名著</a>
	   <a href="../24">外国小说</a>
	   <a href="../25">侦探/推理</a>
	   <a href="../26">社会</a>
      </div><!--chilLeftNav/-->
     </li>
     <li><a href="../product.html">文艺</a>
      <div class="chilInPorNav">
       <a href="../27">文集</a>
       <a href="../28">文学理论</a>
       <a href="../29">中国古诗词</a>
       <a href="../30">艺术理论</a>
       <a href="../31">绘画</a>
       <a href="../32">摄影理论</a>
	   <a href="../33">摄影入门</a>
      </div><!--chilLeftNav/-->
     </li>
     <li><a href="../product.html">青春文学/动漫</a>
      <div class="chilInPorNav">
       <a href="../34">校园</a>
       <a href="../35">爱情/情感</a>
       <a href="../36">叛逆/成长</a>
       <a href="../37">青春文学</a>
       <a href="../38">大陆漫画</a>
       <a href="../39">日韩漫画</a>
       <a href="../40">欧美漫画</a>
      </div><!--chilLeftNav/-->
     </li>
     <li><a href="../product.html">童书</a>
      <div class="chilInPorNav">
       <a href="../41">0-2岁</a>
       <a href="../42">3-6岁</a>
       <a href="../43">7-10岁</a>
       <a href="../44">11-14岁</a>
      </div><!--chilLeftNav/-->
     </li>
     <li><a href="../product.html">人文社科</a>
      <div class="chilInPorNav">
       <a href="../45">历史</a>
       <a href="../46">古籍</a>
       <a href="../47">哲学宗教</a>
       <a href="../48">文化</a>
	   <a href="../49">政治/军事</a>
      </div><!--chilLeftNav/-->
     </li>
     <li><a href="../product.html">经管</a>
      <div class="chilInPorNav">
       <a href="../50">一般管理学</a>
       <a href="../51">会计</a>
       <a href="../52">市场营销</a>
       <a href="../53">证券/股票</a>
       <a href="../54">基金</a>
	   <a href="../55">期货</a>
	   <a href="../56">经济学理论</a>
      </div><!--chilLeftNav/-->
     </li>
     <li><a href="../product.html">成功励志</a>
      <div class="chilInPorNav">
       <a href="../57">人生哲学</a>
       <a href="../58">心灵与修养</a>
       <a href="../59">性格与习惯</a>
       <a href="../60">人在职场</a>
	   <a href="../61">人际交往</a>
	   <a href="../62">名言格言</a>
	   <a href="../63">励志经典著作</a>
      </div><!--chilLeftNav/-->
     </li>
	 <li><a href="../product.html">生活</a>
      <div class="chilInPorNav">
       <a href="../64">亲子/家教</a>
       <a href="../65">育儿/早教</a>
       <a href="../66">保健/养生</a>
       <a href="../67">烹饪/美食</a>
	   <a href="../68">旅游/地图</a>
	   <a href="../69">两性关系</a>
      </div><!--chilLeftNav/-->
     </li>
	 <li><a href="../product.html">科技</a>
      <div class="chilInPorNav">
       <a href="../70">科普读物</a>
       <a href="../71">建筑</a>
       <a href="../72">医学</a>
       <a href="../73">计算机网络</a>
	   <a href="../74">自然科学</a>
	   <a href="../75">工业技术</a>
      </div><!--chilLeftNav/-->
     </li>
    </ul><!--InPorNav/-->
    </h2>
   </div><!--pntLeft/-->
   <div class="pntRight">
    <ul class="nav">
     <li><a href="../index.html">商城首页</a></li>
     <li><a href="../product.html">促销中心</a></li>
     <li><a href="../login.html">会员中心</a></li>
     <li class="navCur"><a href="../help.html">帮助中心</a></li>
     <div class="clears"></div>
     <div class="phone">TEL：021-12345678</div>
    </ul><!--nav/-->
   </div><!--pntRight/-->
   <div class="clears"></div>
  </div><!--pnt/-->
  <div class="positions">
   当前位置：<a href="../index.html">首页</a> &gt; <a href="../#" class="posCur">购物车</a>
  </div><!--positions/-->
  <div class="cont">
   <div class="carImg"><img src="../images/car1.jpg" width="951" height="27" /></div>
   <table class="orderList">
    <tr>
     <th width="20"></th>
     <th width="430">商品</th>
     <th width="135">单价</th>
     <th width="135">数量</th>
     <th width="135">总金额</th>
     <th>操作</th>
    </tr>
    <tr>
     <td><input type="checkbox" /></td>
     <td>
      <dl>
       <dt><a href="../proinfo.html"><img src="../images/pro1.jpg" width="85" height="85" /></a></dt>
       <dd>全球最大的中文搜索引擎、致力于让网民更便捷<br /><span class="red">有货：</span>从上海出发</dd>
       <div class="clears"></div>
      </dl>
     </td>
     <td><strong class="red">￥70.20</strong></td>
     <td>
     <div class="jia_jian">
      <img src="../images/jian.jpg" width="21" height="25" class="jian" />
      <input type="text" class="shuliang" value="1" />
      <img src="../images/jia.jpg" width="21" height="25" class="jia" />
     </div>
     </td>
     <td><strong class="red">￥70.20</strong></td>
     <td><a href="../#" class="green">收藏</a><br /><a href="../#" class="green">删除</a></td>
    </tr>
    
    <tr>
     <td colspan="6"><div class="shanchu"><img src="../images/lajio.jpg" /> 全部删除</div></td>
    </tr>
   </table><!--orderList/-->
   <div class="zongji">
    总计(不含运费)：<strong class="red">￥70.42</strong>
   </div><!--zongji/-->
   <div class="jiesuan">
    <a href="../product.html" class="jie_1">继续购物&gt;&gt;</a>
    <a href="../order2.html" class="jie_2">立即结算&gt;&gt;</a>
    <div class="clears"></div>
   </div><!--jiesuan/-->
   <div class="clears"></div>
  </div><!--cont/-->
  <div class="inHelp">
   <div class="inHLeft">
    <h4>帮助中心</h4>
    <ul class="inHeList">
     <li><a href="../help.html">购物指南</a></li>
     <li><a href="../help.html">支付方式</a></li>
     <li><a href="../help.html">售后服务</a></li>
     <li><a href="../about.html">企业简介</a></li>
     <div class="clears"></div>
    </ul><!--inHeList/-->
   </div><!--inHLeft/-->
   <div class="inHLeft">
    <h4>会员服务</h4>
    <ul class="inHeList">
     <li><a href="../reg.html">会员注册</a></li>
     <li><a href="../login.html">会员登录</a></li>
     <li><a href="../order.html">购物车</a></li>
     <li><a href="../order.html">我的订单</a></li>
     <div class="clears"></div>
    </ul><!--inHeList/-->
   </div><!--inHLeft/-->
   <div class="inHRight">
    <h4>全国统一免费服务热线</h4>
    <div class="telBox">400-0000-0000</div>
    <div class="weibo">
    <wb:follow-button uid="2991975565" type="red_1" width="67" height="24" ></wb:follow-button>
    </div>
   </div><!--inHRight/-->
   <div class="clears"></div>
  </div><!--inHelp/-->
  <div class="footer">
   <p>
   <a href="../#">进入当当官网</a>&nbsp;|&nbsp;
   <a href="../index.html">商城首页</a>&nbsp;|&nbsp;
   <a href="../product.html">促销中心</a>&nbsp;|&nbsp;
   <a href="../order.html">我的订单</a>&nbsp;|&nbsp;
   <a href="../new.html">新闻动态</a>&nbsp;|&nbsp;
   <a href="../login.html">会员中心</a>&nbsp;|&nbsp;
   <a href="../help.htmll">帮助中心</a>
   </p>
   <p>
    版权所有：上海当当实业有限公司 版权所有  Copyright 2010-2015   浙ICP备00000000号   
   </p>
  </div><!--footer/-->
 </div><!--mianCont/-->
 <a href="../#" class="backTop">&nbsp;</a>
</body>
</html>
